* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  width: 100%;
  height: 100vh;
}

html {
  /* overflow: scroll; */
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  /* overflow: scroll; */
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  background-color: antiquewhite;
}
.section-nav {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 200;
}

nav {
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  height: 50px;
}
nav div img {
  cursor: pointer;
}
.nav-right {
  text-align: right;
  padding-right: 30px !important;
}
.menu-icon,
.upload-icon,
.more-icon {
  width: 20px;
}
.menu-icon {
  margin-right: 22px;
}
.mic-icon {
  width: 16px;
}
.upload-icon {
  width: 24px;
}
.logo {
  width: 80px;
}

.nav-left {
  padding-left: 44px !important;
}

.nav-right img {
  margin-right: 14px;
}
#search {
  border: 1px solid #36353599;
  border-radius: 34px;
  padding-left: 10px;
  width: 60%;
}
.search-icon {
  width: 16px;
  transform: translate(-30px, -2px);
}
.profile {
  width: 32px;
  height: 32px;
  background-color: rgb(105, 104, 104);
  border-radius: 50%;
}

/* #######section-video######## */

.section-video {
  padding-left: 35px;
  margin-top: 20px;
  background: #f9f9f9f9;
}

.video {
  width: 800px;
  height: 500px;
}
.tags {
  margin-top: 2px;
  width: 100%;
  line-height: 12px;
}

.tags p {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: bold;
  color: rgb(3, 3, 188);
}
.content-2 {
  width: 100%;
  margin-top: 10px;
}
h2,
.c-name div h3 {
  font-size: 20px !important;
  font-weight: bold !important;
}
.views {
  font-size: 13px;
  margin-bottom: 0;
}
.like img {
  width: 13px;
}
.save-icon {
  width: 38px !important;
  margin-right: -10px;
}
.like p {
  font-size: 10px;
  display: inline;
}
.dislike {
  margin-right: 12px;
  margin-left: 10px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comments {
  font-size: 14px;
  font-weight: bold;
}
.write-comment {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.write-comment img,
.c-name div img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(92, 92, 92, 0.897);
}
.write-comment div p {
  margin-bottom: 0 !important;
  font-size: 12px;
}
.write-comment div hr {
  margin-top: 0;
  width: 100%;
}
.w-c {
  margin-top: 12px;
}
hr {
  height: 0.5px !important;
}
.c-name div h3 {
  font-size: 14px !important;
  margin-bottom: 0;
}
button {
  border: none;
  padding: 5px 15px;
  width: 130px;
  height: 30px;
  border-radius: 5px !important;
  background-color: rgb(234, 45, 45);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px !important;
  transform: translateX(-24px);
}
.subs {
  padding-bottom: 10px !important;
}
.c-name div p {
  font-size: 13px;
  margin: 0 !important;
}
.c-name {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.flex-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -10px;
}
.flex-2 div {
  padding-top: 14px;
}
.flex-4 img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.name {
  font-size: 14px;
  font-weight: bold;
}
.days-ago {
  font-size: 12px;
  color: #000;
}
.flex-3 {
  margin-top: -10px;
  display: flex;
  align-items: center;
  gap: 14px;
}
.cm-p {
  font-size: 13px;
  margin-top: -16px;
  line-height: 14px;
  margin-bottom: 0;
}
.flex-3 img {
  width: 13px;
  height: 13px;
}
.flex-3 p {
  font-size: 12px;
  padding-top: 14px;
}
.no_of_likes {
  margin-left: -8px;
  padding-top: 16px;
}
.allreplies {
  color: rgb(3, 3, 188);
  font-weight: bold;
}
.flex-4 {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* ########section-recommend####### */

.thumbnail {
  /* width: 230px; */
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}
.thumbnail-profile {
  align-self: flex-start;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.vid-list {
  width: 100%;
}
.vid-list a {
  width: 100%;
}
.flex {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.description {
  text-decoration: none;
  color: #000;
  height: 30px;
}
.description:hover {
  color: #000;
  cursor: none;
}
.desc {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1rem;
  margin-bottom: 2px;
  font-weight: 500;
  text-align: left;
  padding-right: 5px;
}

.channel {
  font-size: 14px;
  margin-bottom: 0;
}
.views {
  font-size: 13px;
  margin-bottom: 0;
}
.list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* gap: -10px; */
  gap: 15px;
}

.content-flex {
  margin-top: 50px;
  display: flex;
  gap: 10px;
}

.vid-list {
  display: flex;
  gap: 5px;
}

.section-recommend {
  padding-top: 20px;
}
