<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post">
      <lable>Description</lable>
      <textarea name="description" cols="50" rows="5"></textarea><br /><br />
      <lable>Thumbnail Image</lable>
      <input type="file" name="thumbnail" /><br /><br />
      <lable>Profile Image</lable>
      <input type="file" name="profile" /><br /><br />
      <lable name="views">Views</lable>
      <input type="text" name="views" /><br /><br />
      <label>Channel Name</label>
      <input type="text" name="channel" /><br /><br />
      <label>Upload Info</label>
      <input type="text" name="upload-info" /><br /><br />
      <input type="submit" value="Submit" />
      <input type="reset" value="Reset" />
    </form>
  </body>
</html>
