<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='queries/queries.css')}}"
    />
  </head>
  <body>
    <section class="full-section">
      <section class="section-nav">
        <nav class="nav-bar align-items-center row">
          <div class="nav-left col-3">
            <img alt="menu" class="menu-icon" src="/static/images/menu.png" />

            <img
              alt="youtube-icon"
              class="logo"
              src="/static/images/logo.png"
            />
          </div>
          <div class="nav-middle text-center col-6">
            <input type="text" placeholder="Search" id="search" />
            <img
              alt="search"
              class="search-icon"
              src="/static/images/search.png"
            />
            <img alt="mic" class="mic-icon" src="/static/images/mic.png" />
          </div>
          <div class="nav-right col-3">
            <a href="{{url_for('upload')}}">
              <img
                alt="video-upload"
                class="upload-icon"
                src="/static/images/upload.png"
              />
            </a>
            <img
              alt="video-upload"
              class="more-icon"
              src="/static/images/more.png"
            />
            <img
              alt="notification-bell"
              class="bell-icon"
              src="/static/images/bell.png"
            />
            <img
              alt="profile-picture"
              class="profile"
              src="/static/images/profile.png"
            />
          </div>
        </nav>
      </section>
      <div class="content-flex">
        <section class="section-sidebar">
          <img
            alt="menu"
            class="menu-icon cross-icon"
            src="/static/images/cross.png"
          />
          <div class="sidebar-1">
            <ul class="sidebar-lists">
              <li class="sidebar-list">
                <img
                  class="sidebar-1-icon sidebar-icon"
                  alt="home-icon"
                  src="/static/images/home.png"
                />
                <p class="sidebar-1-text sidebar-text">Home</p>
              </li>
              <li class="sidebar-list">
                <img
                  class="sidebar-2-icon sidebar-icon"
                  alt="explore-icon"
                  src="/static/images/explore.png"
                />
                <p class="sidebar-2-text sidebar-text">Explore</p>
              </li>
              <li class="sidebar-list">
                <img
                  class="sidebar-3-icon sidebar-icon"
                  alt="subscription-icon"
                  src="/static/images/subscription.png"
                />
                <p class="sidebar-3-text sidebar-text">Subscription</p>
              </li>
              <li class="sidebar-list">
                <img
                  class="sidebar-4-icon sidebar-icon"
                  alt="library-icon"
                  src="/static/images/library.png"
                />
                <p class="sidebar-4-text sidebar-text">Library</p>
              </li>
              <li class="sidebar-list">
                <img
                  class="sidebar-5-icon sidebar-icon"
                  alt="history-icon"
                  src="/static/images/history.png"
                />
                <p class="sidebar-5-text sidebar-text">History</p>
              </li>
              <li class="sidebar-list">
                <img
                  class="sidebar-6-icon sidebar-icon"
                  alt="playlist-icon"
                  src="/static/images/playlist.png"
                />
                <p class="sidebar-6-text sidebar-text">Playlist</p>
              </li>
              <li class="sidebar-list">
                <img
                  class="sidebar-7-icon sidebar-icon"
                  alt="messages-icon"
                  src="/static/images/messages.png"
                />
                <p class="sidebar-7-text sidebar-text">Messages</p>
              </li>
              <li class="sidebar-list">
                <img
                  class="sidebar-8-icon sidebar-icon"
                  alt="showmore-icon"
                  src="/static/images/show-more.png"
                />
                <p class="sidebar-8-text sidebar-text">Show More</p>
              </li>
            </ul>
          </div>
          <hr class="hr" />
          <div class="sidebar-2">
            <ul class="sidebar-lists">
              <li>
                <p class="subscribed sidebar-list">Subscribed</p>
              </li>
              <li class="sidebar-list">
                <img
                  class="sidebar-9-icon sidebar-icon"
                  alt="a person profile"
                  src="/static/images/person-1.jpeg"
                />
                <p class="sidebar-9-text sidebar-text">Python</p>
              </li>
              <li class="sidebar-list">
                <img
                  class="sidebar-10-icon sidebar-icon"
                  alt="a person profile"
                  src="/static/images/person-2.jpeg"
                />
                <p class="sidebar-10-text sidebar-text">Java</p>
              </li>
              <li class="sidebar-list">
                <img
                  class="sidebar-11-icon sidebar-icon"
                  alt="a person profile"
                  src="/static/images/person-3.jpeg"
                />
                <p class="sidebar-11-text sidebar-text">Javascript</p>
              </li>
              <li class="sidebar-list">
                <img
                  class="sidebar-12-icon sidebar-icon"
                  alt="a person profile"
                  src="/static/images/person-4.jpeg"
                />
                <p class="sidebar-12-text sidebar-text">C</p>
              </li>
              <li class="sidebar-list">
                <img
                  class="sidebar-13-icon sidebar-icon"
                  alt="a person profile"
                  src="/static/images/person-5.jpeg"
                />
                <p class="sidebar-13-text sidebar-text">C++</p>
              </li>
              <li class="sidebar-list">
                <img
                  class="sidebar-14-icon sidebar-icon"
                  alt="a person profile"
                  src="/static/images/person-6.jpeg"
                />
                <p class="sidebar-14-text sidebar-text">Mongo</p>
              </li>
              <li class="sidebar-list">
                <img
                  class="sidebar-15-icon sidebar-icon"
                  alt="a person profile"
                  src="/static/images/person-2.jpeg"
                />
                <p class="sidebar-15-text sidebar-text">React</p>
              </li>
            </ul>
          </div>
        </section>
        <section class="section-content">
          <div class="banner">
            <img
              alt="banner"
              class="banner-img"
              src="/static/images/banner.jpg"
            />
          </div>

          <div class="list-container">
            {%for i in thumbnailList%}
            <div class="vid-list">
              <a href="{{url_for('play',id=i.videoID)}}">
                <img src="/static/images/{{i.THUMBNAIL}}" class="thumbnail" />
              </a>

              <div>
                <div class="flex">
                  <div class="thumbnail-profile">
                    <img
                      src="/static/images/{{i.PROFILEPIC}}"
                      class="thumbnail-profile"
                    />
                  </div>
                  <div>
                    <a
                      href="{{url_for('play',id=i.videoID)}}"
                      class="description"
                      ><p class="desc">{{i.DESCRIPTION}}</p>
                    </a>

                    <p class="channel">{{i.CHANNEL}}</p>
                    <p class="views">
                      {{i.VIEWS}} views &bull; {{i.UPLOADED_BEFORE}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {%endfor%}
            <!-- <div class="vid-list">
              <a href="/a">
                <img src="/static/images/thumbnail-2.jpg" class="thumbnail" />
              </a>

              <div>
                <div class="flex">
                  <div class="thumbnail-profile">
                    <img
                      src="/static/images/person-2.jpeg"
                      class="thumbnail-profile"
                    />
                  </div>
                  <div>
                    <a href="/a" class="description"
                      ><p class="desc">
                        This is a video mainly focused on Frontend
                        Development.It is created for absolute beginners.
                      </p>
                    </a>

                    <p class="channel">Happy Students</p>
                    <p class="views">1M views &bull; 2days</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="vid-list">
              <a href="/a">
                <img src="/static/images/thumbnail-3.jpg" class="thumbnail" />
              </a>

              <div>
                <div class="flex">
                  <div class="thumbnail-profile">
                    <img
                      src="/static/images/person-3.jpeg"
                      class="thumbnail-profile"
                    />
                  </div>
                  <div>
                    <a href="/a" class="description"
                      ><p class="desc">
                        This is a video mainly focused on Frontend
                        Development.It is created for absolute beginners.
                      </p>
                    </a>

                    <p class="channel">Happy Students</p>
                    <p class="views">1M views &bull; 2days</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="vid-list">
              <a href="/a">
                <img src="/static/images/thumbnail-4.jpg" class="thumbnail" />
              </a>

              <div>
                <div class="flex">
                  <div class="thumbnail-profile">
                    <img
                      src="/static/images/person-4.jpeg"
                      class="thumbnail-profile"
                    />
                  </div>
                  <div>
                    <a href="/a" class="description"
                      ><p class="desc">
                        This is a video mainly focused on Frontend
                        Development.It is created for absolute beginners.
                      </p>
                    </a>

                    <p class="channel">Happy Students</p>
                    <p class="views">1M views &bull; 2days</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="vid-list">
              <a href="/a">
                <img src="/static/images/thumbnail-5.jpg" class="thumbnail" />
              </a>

              <div>
                <div class="flex">
                  <div class="thumbnail-profile">
                    <img
                      src="/static/images/person-5.jpeg"
                      class="thumbnail-profile"
                    />
                  </div>
                  <div>
                    <a href="/a" class="description"
                      ><p class="desc">
                        This is a video mainly focused on Frontend
                        Development.It is created for absolute beginners.
                      </p>
                    </a>

                    <p class="channel">Happy Students</p>
                    <p class="views">1M views &bull; 2days</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="vid-list">
              <a href="/a">
                <img src="/static/images/thumbnail-6.jpg" class="thumbnail" />
              </a>

              <div>
                <div class="flex">
                  <div class="thumbnail-profile">
                    <img
                      src="/static/images/person-6.jpeg"
                      class="thumbnail-profile"
                    />
                  </div>
                  <div>
                    <a href="/a" class="description"
                      ><p class="desc">
                        This is a video mainly focused on Frontend
                        Development.It is created for absolute beginners.
                      </p>
                    </a>

                    <p class="channel">Happy Students</p>
                    <p class="views">1M views &bull; 2days</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="vid-list">
              <a href="/a">
                <img src="/static/images/thumbnail-7.jpg" class="thumbnail" />
              </a>

              <div>
                <div class="flex">
                  <div class="thumbnail-profile">
                    <img
                      src="/static/images/person-1.jpeg"
                      class="thumbnail-profile"
                    />
                  </div>
                  <div>
                    <a href="/a" class="description"
                      ><p class="desc">
                        This is a video mainly focused on Frontend
                        Development.It is created for absolute beginners.
                      </p>
                    </a>

                    <p class="channel">Happy Students</p>
                    <p class="views">1M views &bull; 2days</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="vid-list">
              <a href="/a">
                <img src="/static/images/thumbnail-8.jpg" class="thumbnail" />
              </a>

              <div>
                <div class="flex">
                  <div class="thumbnail-profile">
                    <img
                      src="/static/images/person-2.jpeg"
                      class="thumbnail-profile"
                    />
                  </div>
                  <div>
                    <a href="/a" class="description"
                      ><p class="desc">
                        This is a video mainly focused on Frontend
                        Development.It is created for absolute beginners.
                      </p>
                    </a>

                    <p class="channel">Happy Students</p>
                    <p class="views">1M views &bull; 2days</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="vid-list">
              <a href="/a">
                <img src="/static/images/thumbnail-9.jpg" class="thumbnail" />
              </a>

              <div>
                <div class="flex">
                  <div class="thumbnail-profile">
                    <img
                      src="/static/images/person-3.jpeg"
                      class="thumbnail-profile"
                    />
                  </div>
                  <div>
                    <a href="/a" class="description"
                      ><p class="desc">
                        This is a video mainly focused on Frontend
                        Development.It is created for absolute beginners.
                      </p>
                    </a>

                    <p class="channel">Happy Students</p>
                    <p class="views">1M views &bull; 2days</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="vid-list">
              <a href="/a">
                <img src="/static/images/thumbnail-10.jpg" class="thumbnail" />
              </a>

              <div>
                <div class="flex">
                  <div class="thumbnail-profile">
                    <img
                      src="/static/images/person-4.jpeg"
                      class="thumbnail-profile"
                    />
                  </div>
                  <div>
                    <a href="/a" class="description"
                      ><p class="desc">
                        This is a video mainly focused on Frontend
                        Development.It is created for absolute beginners.
                      </p>
                    </a>

                    <p class="channel">Happy Students</p>
                    <p class="views">1M views &bull; 2days</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="vid-list">
              <a href="/a">
                <img src="/static/images/thumbnail-11.jpg" class="thumbnail" />
              </a>

              <div>
                <div class="flex">
                  <div class="thumbnail-profile">
                    <img
                      src="/static/images/person-5.jpeg"
                      class="thumbnail-profile"
                    />
                  </div>
                  <div>
                    <a href="/a" class="description"
                      ><p class="desc">
                        This is a video mainly focused on Frontend
                        Development.It is created for absolute beginners.
                      </p>
                    </a>

                    <p class="channel">Happy Students</p>
                    <p class="views">1M views &bull; 2days</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="vid-list">
              <a href="/a">
                <img src="/static/images/thumbnail-12.jpg" class="thumbnail" />
              </a>

              <div>
                <div class="flex">
                  <div class="thumbnail-profile">
                    <img
                      src="/static/images/person-6.jpeg"
                      class="thumbnail-profile"
                    />
                  </div>
                  <div>
                    <a href="/a" class="description"
                      ><p class="desc">
                        This is a video mainly focused on Frontend
                        Development.It is created for absolute beginners.
                      </p>
                    </a>

                    <p class="channel">Happy Students</p>
                    <p class="views">1M views &bull; 2days</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="vid-list">
              <a href="/a">
                <img src="/static/images/thumbnail-13.jpg" class="thumbnail" />
              </a>

              <div>
                <div class="flex">
                  <div class="thumbnail-profile">
                    <img
                      src="/static/images/person-3.jpeg"
                      class="thumbnail-profile"
                    />
                  </div>
                  <div>
                    <a href="/a" class="description"
                      ><p class="desc">
                        This is a video mainly focused on Frontend
                        Development.It is created for absolute beginners.
                      </p>
                    </a>

                    <p class="channel">Happy Students</p>
                    <p class="views">1M views &bull; 2days</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="vid-list">
              <a href="/a">
                <img src="/static/images/thumbnail-14.jpg" class="thumbnail" />
              </a>

              <div>
                <div class="flex">
                  <div class="thumbnail-profile">
                    <img
                      src="/static/images/person-1.jpeg"
                      class="thumbnail-profile"
                    />
                  </div>
                  <div>
                    <a href="/a" class="description"
                      ><p class="desc">
                        This is a video mainly focused on Frontend
                        Development.It is created for absolute beginners.
                      </p>
                    </a>

                    <p class="channel">Happy Students</p>
                    <p class="views">1M views &bull; 2days</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="vid-list">
              <a href="/a">
                <img src="/static/images/thumbnail-5.jpg" class="thumbnail" />
              </a>

              <div>
                <div class="flex">
                  <div class="thumbnail-profile">
                    <img
                      src="/static/images/person-3.jpeg"
                      class="thumbnail-profile"
                    />
                  </div>
                  <div>
                    <a href="/a" class="description"
                      ><p class="desc">
                        This is a video mainly focused on Frontend
                        Development.It is created for absolute beginners.
                      </p>
                    </a>

                    <p class="channel">Happy Students</p>
                    <p class="views">1M views &bull; 2days</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="vid-list">
              <a href="/a">
                <img src="/static/images/thumbnail-6.jpg" class="thumbnail" />
              </a>

              <div>
                <div class="flex">
                  <div class="thumbnail-profile">
                    <img
                      src="/static/images/person-3.jpeg"
                      class="thumbnail-profile"
                    />
                  </div>
                  <div>
                    <a href="/a" class="description"
                      ><p class="desc">
                        This is a video mainly focused on Frontend
                        Development.It is created for absolute beginners.
                      </p>
                    </a>

                    <p class="channel">Happy Students</p>
                    <p class="views">1M views &bull; 2days</p>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </section>
      </div>
    </section>
  </body>
  <script src="/static/script/script.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</html>
